<html>
    <head>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center">Categories</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="How_to_play.erb">How to play!</a></li>
                </ul>
            </div>
        </nav>
        <h2>Rules</h2>
        <p>You will first choose a category.Then you will try to beat the computer in a category game.</p>
        <br>
        <p>To play you have to enter a word from the category you chose. The word has to be written correctly.</p>
        <p>If the word has already been used by yourself or the computer you lose.</p>
    </body>
</html>